.main {
  display: flex;
}

.adduser {
  width: 50%;
}

.viewusers{
  width: 50%;
}

.adduser {
  display: block;
}

.formName {
  
}

.label {
  margin-right: 3rem;
}

.inputusername {
  margin: 1rem;
}

td, th{
  width: 10rem;
  border: 1px solid;
  border-color: black;
}


